

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .btn-project{
      @apply relative block text-white py-3 px-[26px] min-h-[47px] bg-primary font-semibold text-base rounded-full transition-all duration-[320ms] drop-shadow-[0_15px_20px_rgba(71,67,251,0.3)] hover:drop-shadow-none hover:shadow-[0_0_0_1px_#ffffff_inset] min-w-[180px] text-center
  }
  .btn-project > p {
      @apply transition-all duration-[320ms] absolute left-1/2 -translate-x-1/2 group-hover:left-[26px] group-hover:translate-x-0 w-max
  }

  .btn-project > img {
      @apply transition-all duration-[320ms] opacity-0 group-hover:opacity-100 right-1/2 group-hover:right-[26px] absolute
  }


}
