[type='text']:focus, [type='email']:focus{
  outline: none !important;
  border:1px solid #E100FF !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1.5px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  --tw-ring-color: #E100FF !important;
}

/* Header */
.progressbar {
  position: relative;
  overflow: hidden;
  align-items: center;
  width: 150px;
  height: 10px;
  border-radius: 100px;
  background-color: #B0B1CE;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.progressPercent {
  font-weight: 600;
  margin-left: 6px;
  font-size: 14px;
  /* position: absolute; */

  /* transform: translate(-50%,-50%); */
  color: #B0B1CE;
}

/* Slideshow */
.react-slideshow-container .default-nav{
  background: #ffffff !important;
  height: 40px !important;
  width: 40px !important;
  fill: #0057FF !important;
}

@media (min-width: 992px) {
  .react-slideshow-container .default-nav{
    height: 60px !important;
    width: 60px !important;
  }
}

/* Project */
.group:hover .btn-project > p{
  left: 26px;
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .btn-project > img{
  right: 26px;
  opacity: 1;
}
.btn-project:hover {
  --tw-shadow: 0 0 0 2px #ffffff inset;
}

.btn-get-started {
  background: linear-gradient(266.69deg, #E100FF 11.05%, #0057FF 111.12%);
}

.btn-get-started:hover {
  background: linear-gradient(266.69deg, #E100FF 11.05%, #0057FF 111.12%);
}

.btn-get-started:focus {
  background: linear-gradient(266.69deg, #E100FF 11.05%, #0057FF 111.12%);
}

.header .btn-learn:hover {
  color: #0c145a;
}

.header .card {
  border-radius: 1rem;
  box-shadow: -8px 8px 58px 0px rgba(0, 0, 0, 0.1);
}

.header .left-card {
  width: auto;
  height: auto;
  top: 0.254rem;
  left: -3.625rem;
  padding: 0.875rem;
}

.header .right-card {
  width: 135px;
  height: auto;
  bottom: 2.5rem;
  right: -3.2rem;
  padding: 1rem 1.2rem;
}

.header .right-card-support {
  padding: 0.063rem 0.625rem;
  background-color: #00baff;
  width: max-content;
  border-radius: 0.375rem;
  bottom: -0.5rem;
  left: auto;
  right: auto;
}

.title-profesi {

  background: linear-gradient(266.22deg, #E100FF 27.18%, #0057FF 81.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*  */

/* Benefits */

.title-gradient {
  background: linear-gradient(266.22deg, #E100FF 27.18%, #0057FF 81.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.benefits .item-benefit .icon {
  width: 56px;
  height: 56px;
  margin-bottom: 20px;
}




/*  */

/* Skills */
.marquee {
  background: none;
  min-width: 0% !important;
}

/*  */

/* Feature */
.feature .feature-card {
  background-color: #f9faff;
  padding: 1.875rem;
  border-radius: 1.625rem;
  margin-right: 16px;
}

/*  */

/* Featured Game */
.featured-skill .overflow-setting {
  overflow-x: auto;
  overflow-y: hidden;
}

.featured-skill .featured-skill-card {
  transition: all 0.4s;
  border-radius: 1.625rem;
  width: 205px;
  height: 290px;

}

.featured-skill .featured-skill-card:hover {
  transition: all 0.4s;
  border: 4px solid #ffffff;
}

.featured-skill .featured-skill-card:hover img {
  transition: all 0.4s;
  filter: blur(10px);
  width: 181px;
  height: 260px;
  -webkit-filter: blur(10px);
}

.featured-skill .featured-skill-card .blur-sharp {
  overflow: hidden;
  border-radius: 1.625rem;
}

.featured-skill .featured-skill-card .blur-sharp img{
  max-width: none;
}

.featured-skill .featured-skill-card:hover .blur-sharp {
  width: 192px;
  border: 7px solid #0B034A;
}

.featured-skill .cover {
  transition: all 0.4s;
  opacity: 0;
  left: 0;
  right: 0;
  height: -webkit-fill-available;
}

.featured-skill .featured-skill-card:hover .cover {
  opacity: 1;
}

.featured-skill .game-icon {
  margin-top: 3.125rem;
}

@media (min-width: 768px) {
  .featured-skill .overflow-setting {
    overflow: hidden;
  }
}

/*  */

/* Project */
.btn-project{
  background: linear-gradient(266.69deg, #E100FF -5.19%, #7F00FF 73.59%);
}
/*  */

/* Reached */
.reached .vertical-line {
  width: 1px;
  background-color: #e7eaf5;
  height: 94px;
}

.reached .horizontal-line {
  width: 240px;
  background-color: #e7eaf5;
  height: 1px;
}

/*  */

/* Story */
.story .btn-read {
  padding: 0.75rem 3rem;
  background-color: #e7eaf5;
}

.story .img-fluid {
  max-width: 100%;
  height: auto;
}

/*  */

/* Footer */
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  transition: 0.2s;
}

footer ul li a:hover {
  color: #ffffff;
  text-decoration: underline !important;
  background-color: transparent;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

@media (max-width: 768px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Header */

  /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* Navbar */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  /*  */

  /* Header */
  .header .underline-blue {
    text-decoration: none;
    position: relative;
  }

  .header .underline-blue:after {
    position: absolute;
    content: "";
    height: 8px;
    bottom: 11px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #00baff;
    z-index: -10;
  }

  /*  */

  /* Featured Game */
  .featured-skill .featured-skill-card:hover .blur-sharp {
    position: absolute;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.line-clamp1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}